* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #F0F8FF;
    --player-color: chartreuse;
    --field-size: 4;
    --card-width: 50px;
    --color-green: #5A5;
    --color-red: #F55;
    --color-yellow: #FA0;
    --color-blue: #55F;
    --color-black: #000;
    --current-color: aliceblue;
    --inverted-color: white;
    --border-color: gray;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 10px;
}

footer {
    flex: 0 0 auto;
}

.field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.box {
    flex: var(--field-size);
    display: flex;
    gap: 5px;
    align-items: stretch;
}

.qrcode.big {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--field-size) * 100px + 50px);
}

.buttons {
    display: flex;
    flex: 2;
    gap: 5px;
    justify-content: center;
}

.qrcode {
    width: 300px;
    display: inline-block;
}


.install {
    background-color: var(--main-color);
    text-align: center;
    font: bold 24px/100px Tahoma, sans-serif;
    height: 100px;
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.cell {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    min-width: 50px;
    max-width: 100px;
    border: solid 2px;
    border-color: var(--border-color);
    font: bold 24px Tahoma, sans-serif;
    border-radius: 10px;
    background-color: var(--main-color);
    touch-action: none;
    user-select: none;
    cursor: pointer;
}

@media (width <= 750px) {
    .cell {
        max-width: calc((100vh - 30px)/var(--field-size) - 2px);
        max-height: calc(100vh/var(--field-size));
    }

    .box {
        flex-direction: column;
        flex: 1;
        gap: 2px;
    }

    .buttons {
        flex-direction: column;
        flex: 1;
        align-self: center;
    }

    .hidden2 {
        display: none;
    }
}

.red {
    --border-color: var(--color-red);

    color: var(--color-red);
}

.blue {
    --border-color: var(--color-blue);

    color: var(--color-blue);
}

.green {
    --border-color: var(--color-green);

    color: var(--color-green);
}

.yellow {
    --border-color: var(--color-yellow);

    color: var(--color-yellow);
}

.black {
    --border-color: var(--color-black);

    color: var(--color-black);
}

.cell.last {
    box-shadow: inset 0 0 0 5px var(--border-color);
}

.active {
    color: white;
    background-color: var(--border-color);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 70%);
    transition: opacity 700ms;
    visibility: hidden;
    opacity: 0;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 400ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: var(--player-color);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.disabled, .disabled * {
    cursor: not-allowed;
}
